---
title: "Blog"
description: "Compartir la experiencia y aprender de otras experiencias de mujeres víctimas de violencia intrafamiliar o de pareja, que alienten a la motivación y fuerza de las mujeres en situaciones semejantes."
layout: default
---

<section class="mt-15">
  <div class="py-16">
    <div class="container px-6 m-auto text-gray-600 md:px-12 xl:px-6">
      {{ content | safe }}
    </div>
  </div>
</section>