---
eleventyExcludeFromCollections: true
layout: default-layout
title: "Nosotros - Ayuda Para La Mujer"
description: "Compartir la experiencia y aprender de otras experiencias de mujeres víctimas de violencia intrafamiliar o de pareja, que alienten a la motivación y fuerza de las mujeres en situaciones semejantes."
---

<img src="/static/img/banner-4.webp"/>
<section class="mt-15">
  <div class="py-16">
    <div class="container px-12 mx-auto">
      <div class="text-stone-950">
        <div class="pb-10 text-center">
          <p class="text-primary font-oswald uppercase">Sobre Nosotros</p>
          <h1 class="text-4xl font-oswald mb-4">
                  Nuestra Misión: Impulsar el<br/>
            <span class="text-5xl text-primary">Empoderamiento Femenino</span>
          </h1>
          <div class="text-xl">
            <p>
                     En [Nombre de tu sitio], nos dedicamos a construir un mundo donde
                     todas las mujeres se sientan fuertes y capacitadas. Nuestra misión
                     es proporcionar recursos, conocimientos y apoyo para empoderar a
                     las mujeres en todas las etapas de sus vidas. Descubre más sobre
                     nosotros y únete a nuestra causa.
                  </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-stone-950">
  <div class="max-w-7xl px-12 mx-auto lg:flex lg:justify-between">
    <div>
      <img
            src="/static/img/blog-img-8.webp"
            class="rounded-lg lg:max-w-2xl w-full h-full"
            alt="Blog Image"
/>
    </div>
    <div
         class="lg:contents max-w-2xl m-auto sm:pb-32 sm:pt-20 lg:ml-8 lg:mr-0 lg:w-full lg:max-w-lg lg:pt-32 xl:w-2/4"
         >
      <p class="text-primary font-oswald">¿Quiénes somos?</p>
      <h1 class="text-gray-900 text-4xl font-oswald mt-2">
            Historias de superación
         </h1>
      <p class="text-gray-700 text-xl mt-4">
            Somos académicos universitarios preocupados por la violencia doméstica.
            Ofrecemos una forma de apoyo de aprendizaje informal mediante historias
            que nos comparten mujeres que han podido salir del ciclo de violencia
            que vivieron.
         </p>
      <div class="text-gray-700 max-w-xl mt-2 lg:max-w-none">
        <ul class="text-gray-600 list-none mt-8">
          <li>
            <strong class="text-gray-900 font-semibold"
                     >Apoyo a la superación.</strong
                     >
                  Ofrecemos historias de mujeres que han superado la violencia
                  doméstica, proporcionando aprendizaje y apoyo.
               </li>
          <li class="mt-8">
            <strong class="text-gray-900 font-semibold"
                     >Reconocimiento de patrones.</strong
                     >
                  Ayudamos a mujeres a reconocer comportamientos no normales en sus
                  relaciones sentimentales.
               </li>
          <li class="mt-8">
            <strong class="text-gray-900 font-semibold"
                     >Compromiso con la equidad de género.</strong
                     >
                  Nuestro propósito es avanzar hacia la equidad de género y la
                  inclusión total de las mujeres en todos los ámbitos de la vida.
               </li>
        </ul>
        <p class="mt-4">
               Como académicos, queremos influir en el bienestar social, y sabemos
               que la respuesta y el camino están en la misma sociedad, en las
               mujeres que ahora tienen la experiencia y conocimiento que les
               permitió salir adelante.
            </p>
        <p class="mt-2">
               Nuestro compromiso es social, es en apoyo a las mujeres que viven
               violentadas por su pareja.
            </p>
      </div>
    </div>
  </div>
</section>