---
eleventyExcludeFromCollections: true
layout: default-layout
title: "Inicio - Ayuda Para La Mujer"
description: "Home Desc"
path: "home"
---

<div class="min-h-screen hero " style="background-image: url('static/img/hero-4.webp')">
  <div class=""></div>
  <div class="text-center hero-content text-neutral-content">
    <div class="max-w-3xl">
      <h1 class="mb-5 font-bold text-base-100 text-8xl lg:text-9xl font-oswald">AYUDA PARA LA MUJER</h1>
      <p  class="mb-5 text-2xl font-medium text-base-200 font-oswald">
        Si vencí al maltrato, soy capaz de todo.
      </p>
      <a href="/blog" class="btn btn-primary btn-wide btn-xl">Blog</a>
    </div>
  </div>
</div>
<section class="mx-4 my-16" >
  <div class="container m-auto">
    <div class="flex flex-wrap items-center justify-center mb-5">
      <h2 class="text-5xl font-bold text-center font-oswald ">Si vencí al maltrato, soy capaz de todo.</h2>
    </div>
    <div class="flex flex-wrap items-center justify-center gap-4">
      <div class="bg-opacity-50 shadow-xl bg-secondary card w-96">
        <div class="items-center card-body">
          <h3 class="text-3xl font-bold text-center font-oswald card-title text-primary">Era celoso y posesivo, me hizo mucho daño emocional</h3>
          <p class="font-semibold text-justify lg:mx-aut " >Hola, soy Juana, tengo 23 años, actualmente estoy estudiando, además de trabajar de estilista. Mi ex trabaja en el aeropuerto, documentando maletas, es profesionista, contador, tiene 20 años. La situación económica de mi familia es buena, nivel medio-alto, igual en su caso. Les contaré un poco de mi historia de vida. La situación económica de mi familia es buena, nivel medio-alto, igual en su caso. Les contaré un poco de mi historia de vida. Viví una infancia de Bullying dentro de mi familia provocada por mis hermanos, me afectó aún más por la sobreprotección de mis padres, por el hecho de ser mujer.</p>
          <div class="card-actions">
            <button class="btn btn-primary">LEER HISTORIA COMPLETA</button>
          </div>
        </div>
      </div>
      <div class="my-auto">
        <img  src="static/img/blog-img-2.webp" alt="Image 1" class="h-64 rounded-lg" width="455" height="256" >
        <img  src="static/img/blog-img-5.webp" alt="Image 2" class="h-64 mt-4 rounded-lg" width="455" height="256" >
      </div>
    </div>
  </div>

</section>
<img  class="w-full" src="/static/img/banner-9.webp" width="1900" height="670"/>
<section class="mx-4 my-16">
  <div class="container m-auto">
    <div class="mb-12 space-y-2 text-center">
      <h3 class="mb-10 text-6xl font-bold lg:text-7xl font-oswald ">Historias más vistas...</h3>
      <p class="text-2xl font-semibold lg:mx-auto">En este espacio, te presentamos las historias más inspiradoras de mujeres que han superado situaciones de violencia familiar y han logrado salir adelante. Son historias de lucha, coraje y resiliencia que han tocado el corazón de muchas personas y que han servido de inspiración para otras mujeres que enfrentan situaciones similares.</p>
    </div>
    <div class="grid gap-12 ">
      {%- from "./_includes/components/blogcard.njk" import blogcard -%}
      {% for item in BlogPreview.links %}
        {{ blogcard({ post: item })}}
      {% endfor %}
    </div>
  </div>
</section>
<div class=" text-xl text-center  max-w-4xl mx-auto" >
  <p class=" text-center w-full pb-8">Muchas víctimas deciden dar otra oportunidad a quien las maltrata, con una idea un tanto distorsionada de que el perdón de dichos actos o el arrepentimiento que muchos maltratadores manifiestan tras el acto de abuso es muestra de su amor. Pero permitir y perdonar dichos actos una y otra vez solo lleva a repetir un patrón de manera continuada, sin que nada cambie, haciendo que se perpetúe la violencia contra ellas.<b> “Es muy común que las mujeres piensen que soportar el maltrato y la crueldad y luego perdonar y olvidar es una muestra de compromiso y amor. Pero cuando amamos bien sabemos que la única respuesta sana y amorosa al abuso es alejarnos de quien nos hace daño.” </b>
  </p>

  <h4 class="text-center text-4xl w-full">= <b class="text-fuchsia-800 font-bold">Bell Hooks</b> escritora feminista y activista =</h4>

</div>