---
eleventyExcludeFromCollections: true
layout: default
title: "Inicio - Ayuda Para La Mujer"
description: "Home Desc"
---

<div class="min-h-screen hero " style="background-image: url('static/img/hero-4.webp')">
  <div class=""></div>
  <div class="text-center hero-content text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Ayuda Para La Mujer</h1>
      <p class="mb-5 font-medium">
        Si vencí al maltrato, soy capaz de todo.
      </p>
      <a href="/blog" class="btn btn-wide btn-xl">Blog</a>
    </div>
  </div>
</div>
<section class="mt-8" >
  <div class="flex flex-wrap items-center justify-center">
    <h1 class="mb-5 text-5xl font-bold text-center">Si vencí al maltrato, soy capaz de todo.</h1>
  </div>
  <div class="flex flex-wrap items-center justify-center">
    <div class="bg-[#b1a2ae]  shadow-xl card w-96">
      <div class="items-center text-center card-body">
        <h2 class="card-title text-[#823F80] font-bold text-2xl">Era celoso y posesivo, me hizo mucho daño emocional</h2>
        <p>Hola, soy Juana, tengo 23 años, actualmente estoy estudiando, además de trabajar de estilista. Mi ex trabaja en el aeropuerto, documentando maletas, es profesionista, contador, tiene 20 años. La situación económica de mi familia es buena, nivel medio-alto, igual en su caso. Les contaré un poco de mi historia de vida. La situación económica de mi familia es buena, nivel medio-alto, igual en su caso. Les contaré un poco de mi historia de vida. Viví una infancia de Bullying dentro de mi familia provocada por mis hermanos, me afectó aún más por la sobreprotección de mis padres, por el hecho de ser mujer.</p>
        <div class="card-actions">
          <button class="btn bg-[#823F80]">LEER HISTORIA COMPLETA</button>
        </div>
      </div>
    </div>
    <div class="mt-6 lg:mx-4 lg:mt-0">
      <img src="static/img/blog-img-2.webp" alt="Image 1" class="h-64 rounded-lg ">
      <img src="static/img/blog-img-5.webp" alt="Image 2" class="h-64 mt-4 rounded-lg">
    </div>
  </div>
</section>
<section>
  <div class="py-16">
    <div class="container px-6 m-auto text-gray-600 md:px-12 xl:px-6">
      <div class="mb-12 space-y-2 text-center">
        <h2 class="text-2xl font-bold text-cyan-900 md:text-4xl">Historias más vistas...</h2>
        <p class="font-semibold lg:mx-auto">En este espacio, te presentamos las historias más inspiradoras de mujeres que han superado situaciones de violencia familiar y han logrado salir adelante. Son historias de lucha, coraje y resiliencia que han tocado el corazón de muchas personas y que han servido de inspiración para otras mujeres que enfrentan situaciones similares.</p>
      </div>
      <div class="grid gap-12">
        {% for item in BlogPreview.links %}
          <div class="space-x-6 bg-white bg-opacity-50 shadow-xl rounded-xl group sm:flex hover:rounded-2xl">
            <img src="{{ item.imagePreview }}" alt="art cover" loading="lazy"  class="object-fill w-full h-56 rounded-lg sm:h-full sm:w-5/12">
            <div class="p-5 pl-0 my-auto sm:w-7/12">
              <div class="space-y-4 ">
                <div class="space-y-4">
                  <h4 class="text-2xl font-semibold text-cyan-900">{{ item.titlePreview }}</h4>
                  <p class="text-gray-600">{{ item.descPreview }}</p>
                </div >
                <div class="flex justify-end">
                  <a href="{{ item.urlPreview }}" class="btn bg-[#823F80] ">Seguir Leyendo</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>