<nav id="nav" class="bg-[#DFC1CE] p-4 top-0 z-50 min-w-full items-center justify-start flex">
  <div class="">
    <a href="/" class="w-[40%] lg:w-[20%]">
      <img src="/static/img/logo.webp" alt="logo" class="object-cover object-center w-full h-full"/>
    </a>
  </div>
  <div class="flex-row justify-end flex-grow hidden mr-5 space-x-4 lg:flex">
    <div class="hidden lg:flex">
      {% if navigation.items %}
        {% for item in navigation.items %}
          <a href="{{ item.url }}" class="p-3 text-xl font-bold transition duration-150 ease-in scale-x-100 border-b-4 border-transparent select-none xl:text-2xl">{{ item.text }}</a>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="ml-auto dropdown dropdown-end">
    <label tabindex="0" class="btn btn-ghost lg:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"/>
      </svg>
    </label>
    <ul tabindex="0" class="p-2 mt-4 shadow-2xl menu dropdown-content bg-base-100 rounded-box w-52">
      {% if navigation.items %}
        {% for item in navigation.items %}
          <a href="{{ item.url }}" class="p-4 mx-auto text-xl font-bold">
            {{ item.text }}
          </a>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
</nav>